<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.xiaoma.carlib"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.car.permission.CAR_VENDOR_EXTENSION" />
    <!--<user-permission android:name="android.car.permission.CAR_POWERTRAIN"/>-->
    <uses-permission android:name="android.car.permission.CAR_CONTROL_AUDIO_VOLUME"/>
</manifest>