*.iml
.gradle
.idea
/settings.gradle
.DS_Store
.externalNativeBuild
/build
/captures
/output
/XMBackup
/.idea/libraries
/.idea/workspace.xml
/.idea/modules.xml
/local.properties
XMApps/App/build/
XMApps/TestApp/
XMApps/TechDemo/
XMLibs/Adapter/YQSDK/build/
XMLibs/CarParkGame/Dialect/build/
XMLibs/Adapter/AdapterProtocol/build/
XMApps/PictureVideo/build/
XMLibs/CarParkGame/SongName/build/
XMApps/CarPark/build/
XMLibs/voiceprint/build/
XMLibs/Pet/build/
XMLibs/RedPacket/build/intermediates/res/compiled/release/drawable-hdpi-v4_abc_text_select_handle_left_mtrl_light.png.flat
XMLibs/RedPacket/build/
XMApps/SmartHome/build/
XMLibs/Navi/XmPoiBean/build/
