<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoma.smarthome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <!--智能家居-->
        <activity
            android:name=".login.ui.MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"/>

        <!--智能家居围栏服务-->
        <service android:name=".scene.service.SceneAutoExecuteService" />
        <!--公子小白智能家居围栏服务-->
        <service android:name=".scene.service.XiaoBaiSceneAutoExecuteService" />
    </application>

</manifest>

